.container {
  width: 100vw;
  height: 100vh;
  align-items: center;
  position: relative;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  align-items: center;
}
